httpx>=0.21.2
mutagen>=1.47.0
openinference-instrumentation-bedrock>=0.1.0
openinference-instrumentation-google-genai>=0.1.8
openinference-instrumentation-instructor>=0.1.0
openinference-instrumentation-langchain>=0.1.55
openinference-instrumentation-openai>=0.1.40
openinference-instrumentation-openai-agents>=1.0.0
opentelemetry-api>=1.23.0
opentelemetry-exporter-otlp-proto-http>=1.23.0
opentelemetry-instrumentation-anthropic>=0.47.0
opentelemetry-sdk>=1.23.0
pydantic>= 1.9.2
pydantic-core==2.18.2
python-dotenv>=0.15.0
typing_extensions>= 4.0.0
